# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized, as well as some basic arithmetic examples using code.

__Objectives:__
- List popular languages for Data Science
- Categories of Data Science Tools
- Libraries for Data Science
- Understand what is and how to use Jupyter Notebooks and JupyterLab
- Getting started with RStudio and GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow


| Data Science Tools |
| -------------|
| Anaconda |
| VS Code |
| Google Colab |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
x = 200/60
print("200 minutes equal", x, "hrs")

200 minutes equal 3.3333333333333335 hrs

## Author

Fernando Alonso